{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Show - {{tag.name}}{%endblock%}
{% block body %}

<a href="{% url 'tag-home' %}" class="btn btn-dark">Go Back</a>
<div class="card mt-3" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{tag.id}}</li>
        <li class="list-group-item">Name: {{tag.name}}</li>
        <li class="list-group-item">Description: {{tag.description}}</li>
        <li class="list-group-item">Created At: {{tag.created_at}}</li>
        <li class="list-group-item">Updated At: {{tag.updated_at}}</li>
    </ul>
</div>

{% endblock %}